/* Faith Crisis Report Menu - Reusable Block Styles */
.faith-crisis-report-nav .wp-block-group__inner-container h5 {
	margin-bottom: 0 !important;
	text-decoration: none;
	color: var(--color-gray-4);
}
.faith-crisis-report-nav .wp-block-group__inner-container h5 a {
	color: var(--color-gray-4);
	text-decoration: none;
}
nav.wp-block-navigation.personal-faith-crisis-report-menu {
	margin-top: 0.5rem !important;
}
nav.wp-block-navigation.personal-faith-crisis-report-menu ul {
	list-style: decimal;
	display: block;
	list-style-position: inside;
	padding-left: 0.5rem;
}
nav.wp-block-navigation.personal-faith-crisis-report-menu li {
	list-style: decimal;
	display: list-item;
	list-style-position: inside;
}

nav.wp-block-navigation.personal-faith-crisis-report-menu li a.wp-block-navigation-item__content {
	color: 	hsl( 199, 100%, 33% );
	display: inline;
}

nav.wp-block-navigation.personal-faith-crisis-report-menu li a[aria-current="page"] {
	text-decoration: none;
	font-weight: 600;
	color: var(--color-gray-4);
}

/* clean up google search box in sidebar */
table.gsc-search-box td {
	border: 0;
}
.gsc-input {
	margin: 0;
}
table.gsc-search-box td.gsc-input {
	padding: 0 !important;
}
button.gsc-search-button-v2 {
	padding: 12px 18px;
}
.gsib_b {
	padding: 0;
}

/* default to all images centered */
.entry .entry-content div.wp-block-image.aligncenter {
	width: 100%;
}
.entry .entry-content figure.wp-block-image,
.entry .entry-content div.wp-block-image.aligncenter figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.entry .entry-content figure.wp-block-image img,
.entry .entry-content div.wp-block-image.aligncenter figure img {
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 100%;
}

/* crop long links in more reading lists */
.entry-content .more-reading + ul li > a {
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inherit;
}
.entry-content ul.blog-posts-archive li > a,
.entry-content ul.questions li > a {
	white-space: initial;
}

.archive .entry-footer .tags .tag[data-count="1"],
.archive .entry-footer .tags .tag[data-count="2"],
.archive .entry-footer .tags .tag[data-count="3"],
.archive .entry-footer .tags .tag[data-count="4"] {
	display: none;
}

.author-box-section {
	border: 1px solid var(--color-orange);
	background-color: var(--color-orange-0);
	padding: 1rem;
	margin-bottom: 2rem;
	font-size: .76rem;
}
.author-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
@media only screen and (min-width: 1024px) {
	.author-box {
		flex-direction: row-reverse;
	}
}
.author-box .content-left {
	flex: 1 2 50%;
}
.author-box .content-right {
	flex: 2 1 50%;
}

.author-box-section hr {
	/* width: 3rem; */
	height: 1px !important;
	margin: 1rem auto !important;
	background-color: var(--color-orange) !important;
}
.author-box-section .wp-block-buttons .wp-block-button .wp-block-button__link.has-background.wp-element-button {
	border-radius: 100px;
}

.profile-video { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.profile-video iframe,
.profile-video object,
.profile-video embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button[disabled], .button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	background-color: var(--color-gray-3);
}

/**
 * Spinner
<svg class="spinner" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg>
 */
.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;
  }
  .spinner .path {
	stroke: #f07c27;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
  }
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
  }




/* Register page overrides */
body[data-page-slug="register"] .entry-content .lwa-form,
body[data-page-slug="register"] .entry-content .lwa-links-register-inline-cancel {
	display: none !important;
}
body[data-page-slug="register"] .entry-content .lwa-register {
	display: block !important;
}
/* greeting field */
.acf-field-66311ed93224b {
    padding: 2rem 0;
}

body[data-page-slug="register"] .lwa-bones .pixelbones .acf-field input,
body[data-page-slug="register"] .lwa-bones .pixelbones .acf-field textarea {
    margin-bottom: 0.25rem !important;
}
body[data-page-slug="register"] .lwa-bones .acf-field p.description {
    font-size: 14px;
    padding-bottom: 1rem;
}

body[data-page-slug="register"] .lwa-bones .pixelbones .acf-field textarea {
    height: auto !important;
}

body[data-page-slug="register"] .lwa-bones .pixelbones input[type=checkbox][name="newsletter"] {
    margin-top: 1rem;
}
body[data-page-slug="register"] .utility-links-menu .register {
	display: none;
}

#g124-subject {
	padding-left: 2em;
}
.contact-form .contact-form__select-wrapper:after {
	top: 1.25em;
	left: 1em;
}

.site-footer .tnp-widget input.tnp-submit {
	background-color: #f07c27;
	border-width: 0;
}

table.gsc-above-wrapper-area-container td {
	border-width: 0;
	border-color: #fff;
}

.gsc-inline-block .gsc-selected-option-container {
	max-width: 100%;	
}

