<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="wasmo-theme-wpunit">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>
